body { background: #b18c77; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 39px; display: flex; }
.block-helper-0 { color: #6093da; font-size: 17px; margin-bottom: 5px; }
.block-notify-1 { color: #7cb50d; font-size: 13px; margin-bottom: 5px; }
.block-session-2 { color: #8f0729; font-size: 13px; margin-bottom: 5px; }
.block-sms-3 { color: #8a0756; font-size: 15px; margin-bottom: 5px; }
.block-cache-4 { color: #9a35a; font-size: 17px; margin-bottom: 5px; }
.block-database-5 { color: #8d6ff6; font-size: 16px; margin-bottom: 5px; }
.block-cluster-6 { color: #db2e4d; font-size: 18px; margin-bottom: 5px; }
.block-logger-7 { color: #f061d7; font-size: 17px; margin-bottom: 5px; }
.block-config-8 { color: #10cc48; font-size: 14px; margin-bottom: 5px; }
.block-notify-9 { color: #3604f1; font-size: 20px; margin-bottom: 5px; }
.block-notify-10 { color: #439a94; font-size: 16px; margin-bottom: 5px; }